.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.about h1 {
  font-size: 2rem;
  color: #2ecc71; /* Cor verde */
  margin-bottom: 15px;
}

.about p {
  font-size: 1.2rem;
  color: #34495e; /* Cor azul escuro */
  line-height: 1.6;
}